* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color Palette */
:root {
    --primary: #13ECC8;
    --background-color: #10221F;
    --secondary: #A855F7;
    --text-dark: #0A1211;
    --text-grey-dark: #64748B;
    --text-grey-light: #94A3B8;
    --text-light: #CBD5E1;
    --text-white: #ffffff;
    --red : rgb(215, 88, 88);
    --border-radius-small: 16px;
    --border-radius-large: 24px;
    --transition: all 0.3s ease;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--background-color);
    background-image: url("assets/nick-rickert-dS2L5bKTSaM-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(1px);
    min-height: 100vh;
    line-height: 1.6;
    text-align: center;
    color: var(--text-white);
}

.glass {
    background: rgba(15, 23, 42, 0.9);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius-small);
}

.hidden {
    display: none;
    opacity: 0;
}

button {
    border: none;
    border-radius: var(--border-radius-small);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
    background-color: transparent;
}

#error-container {
    background-color: rgba(255, 126, 95, 0.1);
    border: 1px solid var(--primary);
    border-radius: var(--border-radius-small);
    justify-self: center;
    margin-bottom: 2rem;
    padding: 1rem;
    width: max-content;
}

.home-page {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    font-weight: 900;
    padding: 1rem 1.8rem;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo {
    margin-right: 10px;
    padding: 1px 4px;
    background-color: var(--primary);
    border-radius: var(--border-radius-small);
    font-size: 20px;
    color: var(--text-dark);
}

#back-btn {
    background-color: transparent;
    border: 1px solid white;
    color: var(--text-white);
    padding: 10px 20px;
}

#back-btn:hover {
    color: var(--primary);
    border: 1px solid var(--primary);
}

.hero {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.hero h1 {
    font-size: 5rem;
}

.hero span {
    background: linear-gradient(to right, var(--primary), var(--secondary));
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hero p {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--text-light);
}

.search-container {
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-small);
    color: var(--text-grey-dark);
    margin: 3.5rem auto;
    padding-left: 20px;
    padding-right: 8px;
    max-width: 750px;
    height: 80px;
    font-size: 1.3rem;
}

#search-input {
    flex: 1;
    font-size: 1rem;
    margin: auto 20px;
    background-color: transparent;
    border: none;
    color: var(--text-white);
    border-right: 1px solid var(--text-grey-dark);
}

input:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: var(--text-white);
    transition: background-color 5000s ease-in-out 0s;
}

#date-picker-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#date-range {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    min-width: 80px;
    background-color: transparent;
    border: none;
    color: var(--text-white);
    margin-left: 20px;
}

#explore-btn {
    font-size: 0.9rem;
    color: var(--text-dark);
    background-color: var(--primary);
    padding: 6px 30px;
    height: 50px;
    border-radius: var(--border-radius-large);
    min-width: 8%;
    max-width: 600px;
}

#explore-btn:hover {
    opacity: 0.9;
    transition: var(--transition);
}

#explore-btn i {
    margin-left: 5px;
}

.section-title {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1.4rem;
    margin-bottom: 20px;
    padding: 0 8px;
}

.section-title::before {
    content: '';
    width: 40px;
    height: 2px;
    background: var(--primary);
}

.saved-trips-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.trips {
    display: flex;
    gap: 24px;
    margin-bottom: 30px;
}

.trip {
    height: 260px;
    max-width: 280px;
    overflow: clip;
    padding: 16px;
    border-radius: var(--border-radius-small);
} 

.trip:hover {
    border: 0.5px solid var(--primary);
}

.pic-container {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius-large);
    height: 160px;
    width: 100%;
    margin-bottom: 14px;
}

.trip img {
    height: 100%;
    object-fit: cover;
    transition: var(--transition);
}

.trip img:hover {
    transform: scale(1.1);
}

.pic-container i {
    display: flex;
    justify-content: center;
    align-items: center;    
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--red);
    border-radius: 50%;;
    height: 30px;
    width: 30px;
    font-size: 14px;
    opacity: 0;
}

.pic-container:hover i {
    opacity: 1;
}

.pic-container p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 4px 8px;
    font-size: 10px;
    color: var(--secondary);
}

#country-capital {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#saved-on-date {
    font-size: 12px;
    font-weight: 300;
    color: var(--text-grey-light);
}


/* planning page */

body.solid-bg header {
    background-color: rgba(255, 255, 255, 0.03);
}

body.solid-bg {
    background-image: none;
    background-color: var(--background-color);
}

.planning-page {
    display: flex;
    text-align: left;
    gap: 20px;
    max-width: 1400px;    
    margin: 0 auto;
    padding: 2rem;
}

.explore-section {
    flex: 2;
    width: 100%;
}

.destination-banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 260px;
    margin-bottom: 32px;
    padding: 30px;
    background-size: cover;
    background-position: center;
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
    overflow: hidden;
    transition: background-size 0.6s ease;
    mask-image: linear-gradient(180deg,black 70%,transparent 100%);
    -webkit-mask-image: linear-gradient(180deg, black 70%, transparent 100%);
}

.destination-banner:hover {
    background-size: 110%;
}

.country-name {
    font-size: 3rem;
    font-weight: 900;
}

.weather-container {
    align-self: flex-start;
    background-color: transparent;
    justify-content: space-between;
    min-width: 280px;
    padding: 24px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-left: 40px;
}

.weather-temp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    font-size: 16px;
}

.weather-temp img {
    height: 80px;
}

.humidity-wind-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 100;
    padding-top: 16px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.2);
}

.humidity-wind-info i {
    color: var(--primary);
    margin-right: 8px;
}

.results-explore {
    padding: 0 20px 20px 20px;
}

.category-tabs {
    display: flex;
    gap: 32px;
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.category-tabs button {
    font-size: 0.9rem;
    color: var(--text-grey-light);
    background-color: transparent;
    padding-bottom: 18px;
    border-radius: 0;
    border-bottom: 2px solid transparent;
    margin-right: 8px;
}

.category-tabs button:hover {
    color: var(--text-white);
}

.category-tabs button.active {
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}

.explore-result {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
}

.place-card {
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius-large);
    cursor: pointer;
}

.place-card img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
}

.place-info {
    padding: 20px;
}

.title-rating-container {
    display: flex;
    justify-content: space-between;
}

.rating {
    font-size: 14px;
    font-weight: 500;
    color: var(--primary);
}

.rating i {
    margin-right: 4px;
}

.place-card .rating i {
    color: var(--primary);
}

.add-btn {
    background-color: rgba(19, 236, 200, 0.1);
    color: var(--primary);
    border: 1px solid rgba(19, 236, 200, 0.3);
    padding: 12px 0;
    width: 100%;
    margin-top: 16px;
    box-shadow: 0 0 10px rgba(19, 236, 200, 0.3);
}

.add-btn.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.add-btn:hover {
    background-color: var(--primary);
    color: var(--text-dark);
}

.add-btn i {
    margin-right: 8px;
}

/* details modal */

#details-overlay {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.details-modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(19, 236, 200, 0.2);
    border-radius: var(--border-radius-large);
    background-color: var(--background-color);
    width: 40%;
    max-height: 85vh;
    text-align: left;
}

.details-modal .place-pic {
    position: relative;
}

#close-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    font-size: 12px;
    color: white;
    padding: 10px 6px;
    text-align: center;
    border-radius: var(--border-radius-large);
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 200;
    cursor: pointer;
}

#close-btn:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.details-modal img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
    mask-image: linear-gradient(180deg, black 70%, transparent 100%);
    -webkit-mask-image: linear-gradient(180deg, black 70%, transparent 100%);
}

.details-modal .place-info {
    padding: 16px 40px;
    overflow-wrap: break-word;
    white-space: normal;
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: rgba(70, 241, 197, 0.1) transparent;
}

.details-modal .rating {
    background-color: rgba(70, 241, 197, 0.1);
    border: 1px solid rgba(70, 241, 197, 0.1);
    border-radius: var(--border-radius-large);
    padding: 4px 12px;
    height: fit-content;
}

.details-modal h4{
    font-size: 30px;
}

.address {
    color: var(--text-grey-light);
    font-size: 14px;
}

.address i {
    margin-right: 6px;
}

.kinds {
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    white-space: normal;
    margin-top: 16px;
    gap: 8px;
}

.kind-badge {
    padding: 6px 16px;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1.1px;
    color: var(--primary);
    background-color: rgba(70, 241, 197, 0.1);
    border: 1px solid rgba(70, 241, 197, 0.2);
    border-radius: var(--border-radius-large);
}

.kind-badge.active-kind {
    color: var(--secondary);
    background-color: rgba(168, 85, 247, 0.1);
    border: 1px solid rgba(168, 85, 247, 0.2);
}

.desc {
    font-size: 18px;
    font-weight: 300;
    margin-top: 24px;
    color: var(--text-light);
}

.details-modal .add-btn {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 0 32px 32px 32px;
    color: var(--text-dark);
    background-color: var(--primary);
    transition: var(--transition);
    gap: 8px;
}

.details-modal .add-btn:hover{
    transform: scale(1.03);
    gap: 10px;
}

/* Plan Container */

.plan {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 24px;
    gap: 24px;
    height: max-content;
    background-color: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius-large);
}

.plan-header {
    display: flex;
    justify-content: space-between;
}

.plan-header h3 {
    font-size: 20px;
}

.plan-header i {
    color: var(--secondary);
}

#clear-btn {
    color: var(--primary);
    font-size: 12px;
    margin-left: 8px;
}

#clear-btn:hover {
    text-decoration: underline;
}

#unassigned-places h4 {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.6px;
    color: var(--text-grey-dark);
    margin-bottom: 12px;
}

#unassigned-places .empty-msg {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px dashed rgba(255, 255, 255, 0.2);
    border-radius: var(--border-radius-small);
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.5);
    font-style: italic;
    font-size: 14px;
}

.plan-card {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 8px;
    margin-bottom: 8px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius-small);
}

.plan-card:hover {
    background-color: rgba(255, 255, 255, 0.1)
}

.plan-card button{
    color: var(--text-grey-dark);
}

.delete-place-btn {
    margin-left: auto;
}

.delete-place-btn:hover {
    color: var(--red);
}

#unassigned-places .delete-place-btn {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#unassigned-places .plan-card:hover .delete-place-btn {
    opacity: 1;
}

.plan-card img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 8px;
}

.plan-card .place-name {
    font-size: 14px;
}

#days-plan {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.day-container {
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 12px;
}

.day-header {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 12px 12px 0 0 ;
    background-color: rgba(255, 255, 255, 0.05);
}

.day-header.closed {
    border-radius: 12px;
}

.day-header:hover {
    background-color: rgba(255, 255, 255, 0.1)
}

.day-header h3 {
   font-size: 14px; 
}

.day-header span {
    color: var(--text-grey-dark);
    font-size: 10px;
    margin-left: 8px;
}

.day-toggle {
    margin-left: auto;
    color: var(--text-grey-light);
}

.day-places-container {
    padding: 12px;
}

.day-places-container .empty-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-style: italic;
    font-size: 14px;
}

#packing-list {
    display:flex;
    flex-direction: column;
    gap: 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 24px;
}

#packing-list h4 i {
    color: var(--secondary);
    margin-right: 7px;
}

.checkbox-container {
    margin-bottom: 8px;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
    position: relative;
    vertical-align: middle;
}

input[type="checkbox"]:checked {
    background-color: var(--primary);
}

input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 9px;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    transform: translate(-50%, -60%) rotate(45deg);
    top: 50%;
    left: 50%;
}

label {
    margin-left: 12px;
    color: var(--text-grey-dark);
    cursor: pointer;
}

.task-insertion {
    display: flex;
    gap: 8px;
}

#task-input {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    border: 1px soild rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius-small);
    padding: 14px 12px;
    color: var(--text-white);
}

#add-task-btn {
    padding: 8px;
    border-radius: var(--border-radius-small);
    color: var(--primary);
    background-color: rgba(19, 236, 200, 0.3);
}

#add-task-btn:hover {
    color: var(--background-color);
    background-color: var(--primary);
}

#save-plan-btn {
    background: linear-gradient(to right, var(--primary), var(--secondary));
    color: var(--text-dark);
    border-radius: var(--border-radius-large);
    padding: 16px 60px;
    box-shadow: 0 0 15px rgba(168, 85, 247, 0.3);
}

#save-plan-btn:hover {
    opacity: 0.7;
}

@media (max-width: 800px) {
    .planning-page {
        flex-direction: column;
    }
}